header {
  height: 25vh;
}

header img {
  width: min(50rem, 90%);
}

main {
  height: 75vh;
  flex-direction: column;
}

.pomodoro {
  margin-top: -5rem;
  text-align: center;
  flex-wrap: wrap;
}

.pomodoro .input-group {
  width: 14rem;
  height: 8.5rem;

  display: flex;
}

.pomodoro input {
  background: var(--third-color);
  color: var(--secondary-color);
  width: 80%;
  height: 100%;
  text-align: center;

  padding: 1rem;
  margin-left: 1rem;
  font-size: 5rem;
  border-radius: 0.75rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.buttons button {
  user-select: none;
  padding: 0.4rem;
}

.buttons button:first-child {
  margin-bottom: 0.5rem;
}

.pomodoro .span-alert {
  display: none;
  position: absolute;
  z-index: 5;
  top: -10rem;

  background: var(--third-color);

  border-radius: 3rem;
  border: 0.2rem solid var(--secondary-color);
  padding: 2rem 1rem;
}

.pomodoro .span-alert:after {
  content: '';

  position: absolute;
  bottom: -1.25rem;
  left: 37px;

  border-radius: 0 0 0 20px;
  /* border: 0.2rem solid var(--secondary-color); */

  background: var(--third-color);
  width: 2rem;
  height: 2rem;
}

.pomodoro > div {
  position: relative;

  margin-left: 5rem;
}

.pomodoro .text {
  text-align: right;
  margin-top: 2.5rem;
  padding-right: 1.5rem;
}

.pomodoro div:nth-last-child(3) {
  margin: 0;
}

.button-home {
  font-size: 2.5rem;
  font-weight: 700;

  margin: 5rem auto 0 auto;
  padding: 2rem;
}

@media (max-width: 600px) {
  header {
    margin-bottom: 10rem;
  }

  main .pomodoro {
    display: block;
    margin-bottom: 5rem;
  }

  .pomodoro.flex div {
    margin: 0 0 2rem 0;
  }
}
