@keyframes transparency {
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  font-size: 2.5rem;
  min-height: 20vh;
  padding: 0 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: min(40rem, 80%);
}

header a {
  font-weight: bold;
  width: min(20rem, 50%);
  height: 6rem;
}

main {
  height: 70vh;
}

.animation {
  animation: transparency 1s infinite;
}

main .work {
  margin-right: 5rem;
  background: var(--third-color);

  width: 25rem;
  height: 25rem;

  border-radius: 50%;

  font-size: 4.5rem;
  font-weight: bold;

  transition: opacity 200ms;
}

.work .timer-work {
  border: 0.5rem solid var(--color-work);
  border-radius: 50%;

  width: 90%;
  height: 90%;
}

.work .timer-work.pause {
  border-color: var(--pause-work);
}

.work-details h2 {
  color: var(--color-work);
  font-size: 3rem;
}

.work-details.pause h2 {
  color: var(--pause-work);
}

.work-details .sections {
  margin: 3rem 0;
}

.sections .session-time {
  width: 1rem;
  height: 1rem;

  border-radius: 50%;

  margin-right: 1rem;
  background: var(--color-work);
}
.sections.pause .session-time {
  background: var(--pause-work);
}

.sections .session-time.disabled {
  background: var(--third-color);
}

.sections .session-time:last-child {
  margin-right: 0rem;
}

.work-details .start-pause span {
  user-select: none;
  padding: 1.5rem;
}

.alert {
  display: none;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
    padding: 2rem;
  }
  header img {
    margin-bottom: 2rem;
  }
}

@media (max-width: 450px) {
  main {
    flex-direction: column;
    justify-content: center;
  }
  main .work {
    margin: 0 0 5rem;
  }
}
